<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BlogSite</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>

<body>
  <div class="navb">
    <div class="lefttop">
      <img src="/images/ico.png" alt="" class="iconimg" />
      <div class="logoname">
        <h1><a href="/main">XPLORE</a></h1>
      </div>
    </div>

    <div class="navitems">
      <div class="myblog">
        <a href="/blogs" class="links">
          <h2 class="redirects">MyBlog</h2>
        </a>
      </div>
      <div class="about">
        <a href="/about">
          <h2 class="redirects">About</h2>
        </a>
      </div>
      <div class="cont">
        <a href="/contact">
          <h2 class="redirects">Contact</h2>
        </a>
      </div>
    </div>
  </div>
  <hr class="line topline" />