body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navb {
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
}

.lefttop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.lefttop h1 {
    margin: 0;
    margin-left: 3%;
}

.navitems {
    display: flex;
    justify-content: end;
    align-items: center;
}

.iconimg {
    height: 90px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    height: 40px;
    margin-top: 40px;
    margin-left: 20px;
}

.redirects {
    margin: 26.5px;
    color: white;
}

.line {

    margin-top: 150px;
    margin-bottom: 30px;
    width: 10%;
}

p {
    font-size: 80px;
    color: rgba(255, 255, 255, 0.85);
    margin: 3%;
}

@media (max-width:700px) {
    .navb {
        flex-direction: column;
        align-items: flex-start;
    }

    .logoname {
        display: flex;

    }

    .logoname h1 {
        margin: 0;
        margin-left: 3%;
        font-size: 25px;
    }

    .iconimg {
        height: 60px;
    }

    .navitems {
        margin: 0;
        margin-bottom: 2%;
        height: 30px;
        width: 100%;
        justify-content: space-around;
        align-items: center;

    }

    .navitems h2 {
        font-size: 20px;
    }

    .topline {
        margin-top: 130px;
    }

    .redirects {
        margin: 0;
    }
}

.redirects:hover {
    color: red;
    transition: color .3s;
}

.post:hover {
    background-color: rgb(255, 0, 0);
    transform: translateY(2%);
    transition: background-color 1s;
    border-radius: 5%;
}

.myblog h2 {
    color: red;
}




.content {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;

}

@media (min-width: 700px) and (max-width: 1099px) {
    .content {
        grid-template-columns: 50% 50%;
    }

}

@media (min-width: 1100px) {
    .content {
        grid-template-columns: 33% 33% 33%;
    }

}

.blog {
    margin: 40px;
    display: flex;
    flex-direction: column;

}

.date {
    margin: 0;
}










h3 {
    color: white;
}

.social {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.fa-brands {
    margin: 0px 10px;
}

.endtext {
    display: flex;
    justify-content: center;
}

.fa-brands:hover {
    color: red;
    transition: color .3s;
}
